<div style="border-radius: 15px; box-shadow: 2px 2px 4px; border: 1px solid; background:#bdc3c7; padding: 20px"> <h7 style="color:black; margin-bottom:20px"> –ê–ª–µ–∫—Å–∞–Ω–¥—Ä, –ø—Ä–∏–≤–µ—Ç!) –≠—Ç–æ –ú–∏—Ö–∞–∏–ª.

–ú–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –∏ –∑–∞–º–µ—á–∞–Ω–∏—è –¥–∞–ª–µ–µ –ø–æ —Ç–µ–∫—Å—Ç—É –ø–æ–º–µ—á–µ–Ω—ã —Ä–∞–∑–ª–∏—á–Ω—ã–º–∏ —Ü–≤–µ—Ç–∞–º–∏:
    
---    
<div class="alert alert-block alert-danger">
‚ùå : –ö—Ä–∏—Ç–∏—á–µ—Å–∫–æ–µ –∑–∞–º–µ—á–∞–Ω–∏–µ, –∫–æ—Ç–æ—Ä—ã–µ —Å–ª–µ–¥—É–µ—Ç –∏—Å–ø—Ä–∞–≤–∏—Ç—å.
</div> 
    
---
    
<div class="alert alert-block alert-warning">
‚ö†Ô∏è : –ó–∞–º–µ—á–∞–Ω–∏–µ\—Å–æ–≤–µ—Ç –Ω–∞ –±—É–¥—É—â–µ–µ.
</div>
    
---
    
<div class="alert alert-block alert-success">
‚úîÔ∏è : –ö–æ–≥–¥–∞ –≤—Å—ë —Å–¥–µ–ª–∞–Ω–æ –ø—Ä–∞–≤–∏–ª—å–Ω–æ.
</div>

---

–ï—Å–ª–∏ –≤–æ–∑–Ω–∏–∫–Ω—É—Ç –≤–æ–ø—Ä–æ—Å—ã –ø–æ –ø—Ä–æ–µ–∫—Ç—É –∏–ª–∏ –≤–æ–ø—Ä–æ—Å—ã –æ–±—â–µ–≥–æ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∞, —Ç–æ –Ω–µ —Å—Ç–µ—Å–Ω—è–π—Å—è - –∑–∞–¥–∞–≤–∞–π!) –î–ª—è —Ç–æ–≥–æ, —á—Ç–æ–±—ã –º–Ω–µ –±—ã–ª–æ –ª–µ–≥—á–µ –∏—Ö –Ω–∞–π—Ç–∏, —Ç–æ –≤—ã–¥–µ–ª—è–π –∏—Ö –ø–æ–∂–∞–ª—É–π—Å—Ç–∞ —Å –ø–æ–º–æ—â—å—é —Ü–≤–µ—Ç–∞, –Ω–∞–ø—Ä–∏–º–µ—Ä –≤–æ—Ç —Ç–∞–∫ - <font color=#e17055>"–≤–æ–ø—Ä–æ—Å, –∫–æ—Ç–æ—Ä—ã–π –Ω–µ –æ—Å—Ç–∞–Ω–µ—Ç—Å—è –Ω–µ–∑–∞–º–µ—á–µ–Ω–Ω—ã–º"</font>
        
    
p.s.: –Ω–µ —É–¥–∞–ª—è–π –º–æ–∏ –∑–∞–º–µ—á–∞–Ω–∏—è, –µ—Å–ª–∏ –ø—Ä–µ–¥—Å—Ç–æ–∏—Ç —á—Ç–æ —Ç–æ –¥–æ—Ä–∞–±–æ—Ç–∞—Ç—å –≤ –ø—Ä–æ–µ–∫—Ç–µ.</h7>

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid " > <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞ ‚úîÔ∏è : </b> 

–ò—Ç–æ–≥ —Ä–µ–≤—å—é - —Ç—ã –ø—Ä–æ–¥–µ–ª–∞–ª –æ—Ç–ª–∏—á–Ω—É—é —Ä–∞–±–æ—Ç—É! –í—Å–µ –∑–∞–ø—Ä–æ—Å—ã –∫–æ—Ä—Ä–µ–∫—Ç–Ω—ã–µ –∏ –¥–∞—é—Ç –ø—Ä–∞–≤–∏–ª—å–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç. –¢—ã –Ω–∞–≥–ª—è–¥–Ω–æ –ø–æ–∫–∞–∑–∞–ª —É–º–µ–Ω–∏–µ —Ñ–æ—Ä–º–∏—Ä–æ–≤–∞—Ç—å –∑–∞–ø—Ä–æ—Å—ã SQL –¥–ª—è —Ä–µ—à–µ–Ω–∏—è –ø–æ–¥–æ–±–Ω—ã—Ö –∑–∞–¥–∞—á. –¢–∞–∫ –¥–µ—Ä–∂–∞—Ç—å! 
    
–ü–æ–∑–¥—Ä–∞–≤–ª—è—é —Å –∑–∞–≤–µ—Ä—à–µ–Ω–∏–µ–º —Ñ–∏–Ω–∞–ª—å–Ω–æ–≥–æ —Å–ø—Ä–∏–Ω—Ç–∞! –û—Å–æ–±–µ–Ω–Ω–æ —Ü–µ–Ω–Ω–æ, —á—Ç–æ —Ç—ã –ø–æ–ª–Ω–æ—Å—Ç—å—é —É–ª–æ–∂–∏–ª—Å—è –≤ –¥–µ–¥–ª–∞–π–Ω üëè
    
![](https://media.giphy.com/media/SkwbfLHO0a1lS/giphy.gif)
    
–û—Å—Ç–∞–µ—Ç—Å—è –¥–æ–∂–¥–∞—Ç—å—Å—è —Ñ–∏–Ω–∞–ª—å–Ω–æ–≥–æ —Å–æ–∑–≤–æ–Ω–∞ –≤ –±–ª–∏–∂–∞–π—à–µ–µ –≤—Ä–µ–º—è)
</div>

# –û–ø–∏—Å–∞–Ω–∏–µ –ø—Ä–æ–µ–∫—Ç–∞

–¶–µ–ª—å –∏—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è: –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö. –í –Ω–µ–π ‚Äî –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∫–Ω–∏–≥–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, –∞–≤—Ç–æ—Ä–∞—Ö, –∞ —Ç–∞–∫–∂–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–µ –æ–±–∑–æ—Ä—ã –∫–Ω–∏–≥. –≠—Ç–∏ –¥–∞–Ω–Ω—ã–µ –ø–æ–º–æ–≥—É—Ç —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞.

–ó–∞–¥–∞—á–∏:
1. –ü–æ—Å—á–∏—Ç–∞nm, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞;
2. –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É;
3. –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü ‚Äî —Ç–∞–∫ –≤—ã –∏—Å–∫–ª—é—á–∏—Ç–µ –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã;
4. –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–π—Ç–µ —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏;
5. –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫.

# –ò—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

In [1]:
# –∏–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º –ø–∞—Ä–∞–º–µ—Ç—Ä—ã
db_config = {'user': 'praktikum_student', # –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è
'pwd': 'Sdf4$2;d-d30pp', # –ø–∞—Ä–æ–ª—å
'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
'port': 6432, # –ø–æ—Ä—Ç –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
'db': 'data-analyst-final-project-db'} # –Ω–∞–∑–≤–∞–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
 db_config['pwd'],
 db_config['host'],
 db_config['port'],
 db_config['db'])

# —Å–æ—Ö—Ä–∞–Ω—è–µ–º –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä
engine = create_engine(connection_string, connect_args={'sslmode':'require'})

In [3]:
# –í—ã–≤–µ–¥–∏–º –ø–æ —Å—Ç—Ä–æ–∫–µ –≤ –∫–∞–∂–¥–æ–π —Ç–∞–±–ª–∏—Ü—ã
query = ''' 
SELECT *
FROM books
LIMIT 1
'''
display(pd.io.sql.read_sql(query, con = engine))

query = ''' 
SELECT *
FROM authors
LIMIT 1
'''
display(pd.io.sql.read_sql(query, con = engine))

query = ''' 
SELECT *
FROM ratings
LIMIT 1
'''
display(pd.io.sql.read_sql(query, con = engine))

query = ''' 
SELECT *
FROM reviews
LIMIT 1
'''
display(pd.io.sql.read_sql(query, con = engine))

query = ''' 
SELECT *
FROM publishers
LIMIT 1
'''
display(pd.io.sql.read_sql(query, con = engine))

   book_id  author_id         title  num_pages publication_date  publisher_id
0        1        546  'Salem's Lot        594       2005-11-01            93

   author_id      author
0          1  A.S. Byatt

   rating_id  book_id    username  rating
0          1        1  ryanfranco       4

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...

   publisher_id publisher
0             1       Ace

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid " > <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞ ‚úîÔ∏è : </b> 

–ó–¥–µ—Å—å –≤—Å—ë —Ö–æ—Ä–æ—à–æ. –¢—ã –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ –≤—ã–≥—Ä—É–∑–∏–ª –¥–∞–Ω–Ω—ã–µ –∏ –ø–æ—Å–º–æ—Ç—Ä–µ–ª –∏—Ö —Å–æ–¥–µ—Ä–∂–∏–º–æ–µ. –¢–µ–ø–µ—Ä—å –º–æ–∂–µ–º –ø—Ä–∏—Å—Ç—É–ø–∞—Ç—å –∫ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—é –∑–∞–¥–∞–Ω–∏–π
</div>

# –ê–Ω–∞–ª–∏–∑ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö

#### –ü–æ—Å—á–∏—Ç–∞–µ–º, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞

In [4]:
query = ''' 
SELECT COUNT(title)
FROM books
WHERE CAST(publication_date AS date) >= '2000-01-01'
'''
pd.io.sql.read_sql(query, con = engine)

   count
0    821

<div class="alert alert-warning" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid " > <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞ ‚ö†Ô∏è : </b> 

–í—Å—ë –≤–µ—Ä–Ω–æ. –≠—Ç–æ –ø—Ä–∞–≤–∏–ª—å–Ω—ã–π –æ—Ç–≤–µ—Ç, –Ω–æ —Ä–µ–∫–æ–º–µ–Ω–¥—É—é –≤–µ—Å—Ç–∏ –ø–æ–¥—Å—á–µ—Ç –Ω–µ –ø–æ book_title, –∞ –ø–æ book_id, —Ç.–∫. –µ—Å—Ç—å —Å–ª—É—á–∞–∏ –∫–æ–≥–¥–∞ —É –æ–¥–Ω–æ–≥–æ –ø—Ä–æ–∏–∑–≤–µ–¥–µ–Ω–∏—è –Ω–µ—Å–∫–æ–ª—å–∫–æ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤ –∏ –≤ —Ç–≤–æ–µ–º —Å–ª—É—á–∞–µ —Ä–µ–∑—É–ª—å—Ç–∞—Ç –º–æ–∂–µ—Ç –∏–∑–º–µ–Ω–∏—Ç—Å—è
</div>

- –ü–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –≤—ã—à–ª–∞ 821 –∫–Ω–∏–≥–∞

#### –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–π–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É

In [5]:
query = ''' 
WITH 
ar AS (SELECT book_id,
            AVG(rating) AS avg_rating
        FROM ratings
        GROUP BY book_id),
cr AS (SELECT book_id,
                    COUNT(review_id) AS count_review
                FROM reviews
                GROUP BY book_id
                ORDER BY book_id)
                
SELECT b.title,
        ar.avg_rating,
        cr.count_review
FROM ar
FULL OUTER JOIN books AS b ON ar.book_id = b.book_id
FULL OUTER JOIN cr ON cr.book_id = b.book_id


'''
pd.io.sql.read_sql(query, con = engine)

,title,avg_rating,count_review
0,'Salem's Lot,3.666667,2.0
1,1 000 Places to See Before You Die,2.500000,1.0
2,13 Little Blue Envelopes (Little Blue Envelope...,4.666667,3.0
3,1491: New Revelations of the Americas Before C...,4.500000,2.0
4,1776,4.000000,4.0
...,...,...,...
995,The Cat in the Hat and Other Dr. Seuss Favorites,5.000000,NaN
996,Anne Rice's The Vampire Lestat: A Graphic Novel,3.666667,NaN
997,Essential Tales and Poems,4.000000,NaN
998,Leonardo's Notebooks,4.000000,NaN
999,The Natural Way to Draw,3.000000,NaN

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid " > <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞ ‚úîÔ∏è : </b> 
    
–ó–¥–æ—Ä–æ–≤–æ. –≠—Ç–æ –æ–¥–∏–Ω –∏–∑ —Å–∞–º—ã—Ö –∫–æ–≤–∞—Ä–Ω—ã—Ö –∑–∞–ø—Ä–æ—Å–æ–≤, –∫–∞–∫ –ø–æ–∫–∞–∑—ã–≤–∞–µ—Ç –ø—Ä–∞–∫—Ç–∏–∫–∞, –Ω–æ —Ç—ã —Å–ø—Ä–∞–≤–∏–ª—Å—è —É—Å–ø–µ—à–Ω–æ. –ú–æ–ª–æ–¥–µ—Ü!)

</div>

- –î–ª—è 6 –∫–Ω–∏–≥ –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—Ç —Ä–µ—Ü–µ–Ω–∑–∏–∏, —Ä–µ–π—Ç–∏–Ω–≥ –ø—Ä–∏—Å—É—Ç—Å–≤—É–µ—Ç —É –≤—Å–µ—Ö –∫–Ω–∏–≥

#### –û–ø—Ä–µ–¥–µ–ª–∏–º –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü (–∏—Å–∫–ª—é—á–∏–º –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã)

In [6]:
query = ''' 
SELECT publisher,
    COUNT(title) AS count_title
FROM books AS b
LEFT JOIN publishers AS p ON b.publisher_id = p.publisher_id
WHERE num_pages > 50
GROUP BY publisher
ORDER BY count_title DESC
LIMIT 1
'''
pd.io.sql.read_sql(query, con = engine)

       publisher  count_title
0  Penguin Books           42

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid " > <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞ ‚úîÔ∏è : </b> 
    

–°–æ–≥–ª–∞—Å–µ–Ω —Å —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–º. –î–µ–π—Å—Ç–≤–∏—Ç–µ–ª—å–Ω–æ –¥–∞–Ω–Ω–æ–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ —è–≤–ª—è–µ—Ç—Å—è –ª–∏–¥–µ—Ä–æ–º –ø–æ –≤—ã–ø—É—â–µ–Ω–Ω—ã–º –∫–Ω–∏–≥–∞–º

</div>

- –ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ –≤—ã–ø—É—Å—Ç–∏–≤—à–µ–µ –Ω–∞–∏–±–æ–ª—å—à–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥ (—Å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º —Å—Ç—Ä–∞–Ω–∏—Ü –±–æ–ª—å—à–µ 50) Penguin Books

#### –û–ø—Ä–µ–¥–µ–ª–∏–º –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞—è —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏;

In [11]:
query = ''' 
WITH 
ar AS (SELECT book_id,
            COUNT(rating) AS count_rating,
            AVG(rating) AS avg_rating
        FROM ratings
        GROUP BY book_id)
                
SELECT a.author,
        AVG(avg_rating) AS all_books_rating
FROM ar
FULL OUTER JOIN books AS b ON ar.book_id = b.book_id
FULL OUTER JOIN authors AS a ON a.author_id = b.author_id
WHERE count_rating > 50
GROUP BY author
ORDER BY all_books_rating DESC
LIMIT 1
'''
pd.io.sql.read_sql(query, con = engine)

                       author  all_books_rating
0  J.K. Rowling/Mary GrandPr√©          4.283844

- –î–∂—É–∞–Ω –†–æ–ª–∏–Ω–≥ –∞–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid " > <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞ ‚úîÔ∏è : </b> 
    

–ò –∑–¥–µ—Å—å —Ç—ã –Ω–µ –æ—à–∏–±—Å—è. –¢—ã –≤–µ—Ä–Ω–æ –æ—Ç—Ñ–∏–ª—å—Ç—Ä–æ–≤–∞–ª –∫–Ω–∏–≥–∏ –∏ —Ä–∞—Å—Å—á–∏—Ç–∞–ª —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ –∞–≤—Ç–æ—Ä–æ–≤

</div>

#### –ü–æ—Å—á–∏—Ç–∞–µ–º —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫

In [8]:
query = ''' 
WITH 
ar AS (SELECT book_id,
            COUNT(rating) AS count_rating,
            AVG(rating) AS avg_rating
        FROM ratings
        GROUP BY book_id)
                
SELECT *
FROM ar
FULL OUTER JOIN books AS b ON ar.book_id = b.book_id
FULL OUTER JOIN authors AS a ON a.author_id = b.author_id
WHERE count_rating > 50
LIMIT 1
'''
pd.io.sql.read_sql(query, con = engine)

,book_id,count_rating,avg_rating,book_id,author_id,title,num_pages,publication_date,publisher_id,author_id,author
0,75,84,3.678571,75,106,Angels & Demons (Robert Langdon #1),736,2006-04-01,229,106,Dan Brown

In [9]:
query = ''' 

SELECT AVG(count_review)
FROM (SELECT COUNT(text) AS count_review
      FROM reviews 
      WHERE username IN (SELECT username
                        FROM ratings
                        GROUP BY username
                        HAVING COUNT(username) > 50)
      GROUP BY username) AS cr

'''
pd.io.sql.read_sql(query, con = engine)

         avg
0  24.333333

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid " > <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞ ‚úîÔ∏è : </b> 
    

–ò —ç—Ç–æ .. –ø—Ä–∞–≤–∏–ª—å–Ω—ã–π –æ—Ç–≤–µ—Ç! –¢—ã –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ –æ—Ç–æ–±—Ä–∞–ª –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –∏ —Ä–∞—Å—Å—á–∏—Ç–∞–ª –∏—Ö –ø–æ–∫–∞–∑–∞—Ç–µ–ª–∏.


–í –∏—Ç–æ–≥–µ, 5\5 —Å –ø–µ—Ä–≤–æ–π –ø–æ–ø—ã—Ç–∫–∏ - —ç—Ç–æ —Å–∏–ª—å–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç)

</div>

- –£ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫ –≤ —Å—Ä–µ–¥–Ω–µ–º –ø–æ 24 –æ–±–∑–æ—Ä–∞

# –í—ã–≤–æ–¥

- –ü–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –≤—ã—à–ª–∞ 821 –∫–Ω–∏–≥–∞
- –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–ª–∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É. –î–ª—è 6 –∫–Ω–∏–≥ –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—Ç —Ä–µ—Ü–µ–Ω–∑–∏–∏, —Ä–µ–π—Ç–∏–Ω–≥ –ø—Ä–∏—Å—É—Ç—Å–≤—É–µ—Ç —É –≤—Å–µ—Ö –∫–Ω–∏–≥
- –î–∂—É–∞–Ω –†–æ–ª–∏–Ω–≥ –∞–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥
- –£ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫ –≤ —Å—Ä–µ–¥–Ω–µ–º –ø–æ 24 –æ–±–∑–æ—Ä–∞